/* Modify Bootstrap things */

.container {
	margin-top: 20px;
}

.row {
	border: 1px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5)
}

.container-fluid {
    background: rgba(255,255,255,0.5);
}

h2.date {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Personal Styles */

body {
	width: 100%;
	background: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    font-family: "Tahoma", Geneva, sans-serif;
}

/** Page Navbar **/

.navbar-default .navbar-nav > .active {
    color: #000;
    background: none;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: none;
}

.navbar-default .navbar-nav > .dropdown > li.active {
    color: #000;
    background: none;
}

.navbar-default .navbar-nav > .dropdown > .dropdown-menu > .active > a, 
.navbar-default .navbar-nav > .dropdown > .dropdown-menu > .active > a:hover, 
.navbar-default .navbar-nav > .dropdown > .dropdown-menu > .active > a:focus {
    color: #000;
    background: none;
}

/** Images **/

.headerImage {
	
}

