<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    
    <title>
        Admin Login | Ganesha Open 2015
    </title>
</head>
<body>
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div><!-- /.navbar-header -->
                
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="/"><img class="brand" src="/assets/img/brand.png"></img></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if (valid == 1): %}Logout
                        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span></a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="title text-center">Login Page</h1>
                        
                        {% if (valid == 0 or valid == 2): %}
                            {% if valid == 2: %}
                                <p class="text-danger">Masukan salah. Silahkan input lagi.</p>
                            {% endif %}
                            <form method="post" action="">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="inputUser" name="user">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="inputPass" name="pass"></textarea>
                                </div>
                                <button type="submit" name="submitType" value="validasi" class="btn btn-default">Submit</button>
                                <br><br>
                            </form>
                        {% elif valid == 1: %}
                            <script>
                                window.location = "/admin/dashboard";
                            </script>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script language="javascript" type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
{% endautoescape %}